<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body id="checkout" style="background-image: url(/images/fondoMalla.png);">
    <nav>
        <a href="/">
            <img src="/images/logo.png" alt="" style="width:200px">
        </a>

        <ol>
            <li>
                <div class="button" style="background-image:url(/images/makeup.png)">
                    <h3>
                        <em>
                            <u>MAKEUP</u>
                        </em>
                    </h3>
            </li>
            <li>
                <div class="button" style="background-image:url(/images/skincare.png)">
                    <h3>SKINCARE</h3>
            </li>
            <li>
                <div class="button" style="background-image:url(./images/body.png)">
                    <h3>BODY</h3>
            </li>
        </ol>

    </nav>

    <h1>♡ Shopping Cart ♡</h1>

    <div class="contenido">
        <section class="cart">

            <ul class="lista"></ul>

            <hr/>
           
            <button>Checkout</button>
    </div>


    <script src="/js/client.js"></script>
    <script src="/js/checkout.js"></script>
</body>

</html>