<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="index.js"></script>
</head>

<body id="checkout" style="background-image: url(/images/fondoMalla.png);">
    <nav>
        <a href="/">
            <img src="/images/logo.png" alt="" style="width:200px">
        </a>

        <ol>
            <li>
                <div class="button" style="background-image:url(/images/makeup.png)">
                    <h3>
                        <em>
                            <u>MAKEUP</u>
                        </em>
                    </h3>
            </li>
            <li>
                <div class="button" style="background-image:url(/images/skincare.png)">
                    <h3>SKINCARE</h3>
            </li>
            <li>
                <div class="button" style="background-image:url(./images/body.png)">
                    <h3>BODY</h3>
            </li>
        </ol>
        
    </nav>

    <h1>♡ Shopping Cart ♡</h1>

<div class="contenido"><ul class="lista"></ul>

    <div class="rect"></div>
    <ul class="lista"></ul>

  
    <div class="sub_div">
        <p>Subtotal</p>
        <p class="subtotal"></p>

    </div>
    <div class="ship_div">
        <p>Shipping</p>
        <p>$ 5.00</p>

    </div>

    <hr/>
    <div class="total_div">
        <h3>TOTAL</h3>
        <h3 class="total"></h3>
    </div></div>
    

    <script src="/js/cliente.js"></script>
    <script src="/js/checkout.js"></script>
</body>

</html>