@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

#home {
    font-family: Cabin;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    nav {
        margin: 0 2em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        ol {
            li {
                display: inline;
                margin-right: 10px;
                .button {
                    text-align: center;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-position: center center;
                    cursor: pointer;
                    display: table-cell;
                    vertical-align: middle;
                    h3 {
                        font-size: 15px;
                        bottom: 0;
                        color: rgb(255, 255, 255);
                    }
                    &:hover {
                        transform: scale(1.3);
                        -moz-transform: scale(1.3);
                        -webkit-transform: scale(1.3);
                        -o-transform: scale(1.3);
                        -ms-transform: scale(1.3);
                        transition: all .2s;
                    }
                    width: 120px;
                    height: 70px;
                }
            }
        }
        button {
            font-family: Cabin;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            a {
                text-decoration: none;
                position: absolute;
                right: 2em;
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
                :hover {
                    -webkit-animation-name: hvr-pulse;
                    animation-name: hvr-pulse;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-timing-function: linear;
                    animation-timing-function: linear;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                }
                .carritoview img {
                    width: auto;
                    height: 25px;
                }
                .carrito {
                    padding: 2px 5px 2px 5px;
                    width: 13px;
                    color: white;
                    margin: -50px 0 0 18px;
                    z-index: 10002;
                    border-radius: 50%;
                    background-color: #ff4746;
                }
            }
        }
    }
    .banner {
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;
        height: 550px;
        position: relative;
        h1 {
            font-family: Raleway;
            font-weight: 900;
            font-size: 80px;
            color: white;
            margin: 0 0.5em 0.5em 0.5em;
            position: absolute;
            bottom: 0;
        }
    }
    .contenidoProductos {
        position: relative;
        display: block;
        overflow: auto; //height: fit-content;
        .filtros {
            background-color: white;
            position: absolute;
            height: fit-content;
            width: 20%;
            float: left;
            h1 {
                font-family: Raleway;
                font-weight: 900;
                font-size: 25px;
                margin: 35px;
            }
            p {
                a {
                    margin: 35px;
                    text-align: left;
                    display: block;
                    text-decoration: none;
                    color: black;
                    margin-bottom: 0.5em;
                    &:hover {
                        color: rgb(122, 79, 241);
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
            .filtroZona,
            .filtroPrecio {
                h2 {
                    font-family: Raleway;
                    font-weight: 900;
                    font-size: 20px;
                    margin: 15px 35px;
                    color: #cb7bff;
                }
                ol {
                    li {
                        text-align: left;
                        display: block;
                        text-decoration: none;
                        color: black;
                        margin-bottom: 0.5em;
                        a {
                            text-align: left;
                            display: block;
                            text-decoration: none;
                            color: black;
                            margin-bottom: 0.5em;
                            &:hover {
                                color: rgb(122, 79, 241);
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .filtroColor {
                margin: 2em;
                h2 {
                    font-family: Raleway;
                    font-weight: 900;
                    font-size: 20px;
                    color: #cb7bff;
                }
                button {
                    background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;
                    :hover {
                        -webkit-animation-name: hvr-pulse;
                        animation-name: hvr-pulse;
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-timing-function: linear;
                        animation-timing-function: linear;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                    }
                    :active {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
            }
        }
        .productos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: stretch;
            align-items: flex-start;
            width: 80%;
            height: max-content;
            vertical-align: middle;
            float: right;
            .productoM {
                margin: 3em;
                >a {
                    text-decoration: none;
                    color: black;
                    width: min-content;
                    text-align: center;
                    margin-top: 3em;
                    img {
                        border-radius: 50%;
                        width: 250px;
                    }
                    h1 {
                        font-family: Raleway;
                        font-weight: 900;
                        font-size: 15px;
                    }
                    h2 {
                        font-family: Raleway;
                        font-weight: 500;
                        font-size: 15px;
                    }
                }
            }
            .btnA {
                text-align: center;
                margin: auto;
                button {
                    background-color: #f5576c;
                    padding: 0.5em 1em;
                    font-size: 18px;
                    font-weight: 900;
                    font-family: Cabin;
                    color: white;
                    border: none;
                    &:hover {
                        cursor: pointer;
                        -webkit-animation-name: hvr-pulse;
                        animation-name: hvr-pulse;
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-timing-function: linear;
                        animation-timing-function: linear;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
    }
    .footer {
        background-image: linear-gradient(120deg, #f5576c 0%, #f093fb 100%);
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 200px;
        padding: 3em 0;
        .content {
            margin: 0 2em;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: space-between;
            align-items: stretch;
            text-align: center;
            .about {
                width: 10%;
            }
            .suport {
                width: 20%;
            }
            .etc {
                width: 70%;
                img {
                    position: absolute;
                    right: 5em;
                    bottom: 3em;
                }
            }
            ol {
                h3 {
                    text-align: left;
                    display: block;
                    text-decoration: none;
                    font-family: Raleway;
                    font-weight: 900;
                    font-size: 20px;
                    color: white;
                    ;
                }
                a {
                    text-align: left;
                    display: block;
                    text-decoration: none;
                    color: white;
                    margin-bottom: 0.5em;
                    &:hover {
                        color: rgb(122, 79, 241);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

#producto {
    font-family: Cabin;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    nav {
        margin: 0 2em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        ol {
            li {
                display: inline;
                margin-right: 10px;
                .button {
                    text-align: center;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-position: center center;
                    cursor: pointer;
                    display: table-cell;
                    vertical-align: middle;
                    h3 {
                        font-size: 15px;
                        bottom: 0;
                        color: rgb(255, 255, 255);
                    }
                    &:hover {
                        transform: scale(1.3);
                        -moz-transform: scale(1.3);
                        -webkit-transform: scale(1.3);
                        -o-transform: scale(1.3);
                        -ms-transform: scale(1.3);
                        transition: all .2s;
                    }
                    width: 120px;
                    height: 70px;
                }
            }
        }
        button {
            font-family: Cabin;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            a {
                text-decoration: none;
                position: absolute;
                right: 2em;
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
                :hover {
                    -webkit-animation-name: hvr-pulse;
                    animation-name: hvr-pulse;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-timing-function: linear;
                    animation-timing-function: linear;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                }
                .carritoview img {
                    width: auto;
                    height: 25px;
                }
                .carrito {
                    padding: 2px 5px 2px 5px;
                    width: 13px;
                    color: white;
                    margin: -50px 0 0 18px;
                    z-index: 10002;
                    border-radius: 50%;
                    background-color: #ff4746;
                }
            }
        }
    }
    .contenido {
        position: relative;
        background-color: white;
        display: block;
        overflow: auto;
        height: fit-content;
        .imagenProducto {
            //  background: #cb7bff;
            width: 40%;
            height: 100%;
            float: left;
            vertical-align: middle;
            img {
                float: right;
                max-width: 100%;
                max-height: 100%;
                ;
            }
        }
        .infoProducto {
            position: absolute;
            width: 60%;
            right: 0;
            height: 100%; //background: cadetblue;
            .contenedorInfo {
                position: absolute;
                margin: 0 13em 0 0;
                top: 25%; // background: #f5576c;
                button {
                    background-color: #f5576c;
                    padding: 0.5em 1em;
                    font-size: 18px;
                    font-weight: 900;
                    font-family: Cabin;
                    color: white;
                    border: none;
                    &:hover {
                        cursor: pointer;
                        -webkit-animation-name: hvr-pulse;
                        animation-name: hvr-pulse;
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-timing-function: linear;
                        animation-timing-function: linear;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
    }
    .footer {
        background-image: linear-gradient(120deg, #f5576c 0%, #f093fb 100%);
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 200px;
        padding: 3em 0;
        .content {
            margin: 0 2em;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: space-between;
            align-items: stretch;
            text-align: center;
            .about {
                width: 10%;
            }
            .suport {
                width: 20%;
            }
            .etc {
                width: 70%;
                img {
                    position: absolute;
                    right: 5em;
                    bottom: 3em;
                }
            }
            ol {
                h3 {
                    text-align: left;
                    display: block;
                    text-decoration: none;
                    font-family: Raleway;
                    font-weight: 900;
                    font-size: 20px;
                    color: white;
                    ;
                }
                a {
                    text-align: left;
                    display: block;
                    text-decoration: none;
                    color: white;
                    margin-bottom: 0.5em;
                    &:hover {
                        color: rgb(122, 79, 241);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

#checkout {
    font-family: Cabin;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    nav {
        margin: 0 2em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        ol {
            li {
                display: inline;
                margin-right: 10px;
                .button {
                    text-align: center;
                    border: none;
                    background: none;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-position: center center;
                    cursor: pointer;
                    display: table-cell;
                    vertical-align: middle;
                    h3 {
                        font-size: 15px;
                        bottom: 0;
                        color: rgb(255, 255, 255);
                    }
                    &:hover {
                        transform: scale(1.3);
                        -moz-transform: scale(1.3);
                        -webkit-transform: scale(1.3);
                        -o-transform: scale(1.3);
                        -ms-transform: scale(1.3);
                        transition: all .2s;
                    }
                    width: 120px;
                    height: 70px;
                }
            }
        }
    }
    h1 {
        text-align: center;
        font-family: Raleway;
        font-weight: 900;
        font-size: 80px;
        color: black;
        margin: 0 0.5em 0.5em 0.5em;
    }
    .contenido {
        height: fit-content;
        width: 90%;
        margin: auto;
        .cart {
            display: inline-block;
            text-decoration: none;
            list-style: none;
            padding-top: 2em;
            margin-bottom: 5em;
            width: 100%;
            ul {
                list-style-type: none;
                width: 80%;
                .cartItem {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    .img_item {
                        width: 30%;float: left;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                    .txt_item {
                        float: left;
                        h4 {
                            font-family: Raleway;
                            font-weight: 900;
                            font-size: 20px;
                            color: #cb7bff;
                        }
                    }
                  .priceItem{
                      float: left;
                  }
                }
            }
            button {
                background-color: #f5576c;
                padding: 0.5em 1em;
                font-size: 18px;
                font-weight: 900;
                font-family: Cabin;
                color: white;
                border: none;
                &:hover {
                    cursor: pointer;
                    -webkit-animation-name: hvr-pulse;
                    animation-name: hvr-pulse;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-timing-function: linear;
                    animation-timing-function: linear;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
}